:root {
  --sidebar-width: 300px;
  --sidebar-height-footer: 100px;
  /* per usare: var(--nome-custom-prop)*/
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

img {
  width: 100%;
}

main {
  height: calc(100vh - 100px);
}

.container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding-left: -1rem;
  padding-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 1rem;
}

/* UTILITIES */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-end {
  justify-content: end;
}

.margin-top-auto {
  margin-top: auto;
}

.flex-grow {
  flex-grow: 2;
}



/* .space-between {
  flex-direction: column;
  justify-content: space-between;
  justify-content: end;
} */


.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}


/* MAIN-SX*/

.nav-small {
  display: none;
}

.nav-small img {
  height: 50px;
}
.fa-solid {
  margin-top: 10px;
}

/* SECTION-1 */

#main-sx {
  width: var(--sidebar-width);
  height: calc(100vh - var(--sidebar-height-footer));
  background-color: #000000;
  color: gray;
  overflow-y: auto;
}

.small {
    width: 80%;
}


.nav-search {
    margin: 15px 0;
}

#main-sx .fa-solid, .fa-regular {
    margin-right: 10px;
}





/* SECTION-2 */

#main-dx {
  width: calc(100% - var(--sidebar-width));
  padding-top: 100px;

  background-color: #141922;
  color: white;

  overflow-y: auto;
}


/* MAIN-DX */

/* HEADER */

#main-dx .button-header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

#main-dx button {
  height: 40px;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

#main-dx button:hover {
    transform: scale(1.1);
}

header {
  height: 80px;
  background-color: #080b12;
  position: fixed;
  left: var(--sidebar-width);
  top: 0;
  right: 0;
  opacity: 0.8;
}

/* MAIN CONTENT */

.main-header {
    display: flex;
    justify-content: center;
}

.main-header p {
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}

.bordered:hover {
  border-bottom: 2px solid green;
  
}


.main-header p:hover {
    color: white;
}

/* MAIN SECTION-1 */

#main-dx h1 {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#main-dx h4 {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: gray;
}

#main-dx .row {
    display: flex;
}

#main-dx .col {
    width: calc(100% / 6);
    text-align: center;
    min-width: 100px;
}

.col img {
    cursor: pointer;
    z-index: 1;
}

.col img:hover {
    opacity: 0.5;


}

#main-sx p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}









/* MAIN SECTION-3 */

.circle {
    border-radius: 50%;
}

.max-height {
    max-height: 250px;
    overflow-y: auto;
}






/* FOOTER */

#block {
  width: 100%;
  height: var(--sidebar-height-footer);
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BARRA SX */

.bar-sx {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 25px;
  width: 25%;

}

.bar-sx img {
  height: 50px;
}

.bar-sx p {
  margin-left: 8px;
}

#block .icon {
  margin-left: 25px;
}

#block .fa-regular {
  margin-left: 10px;
}

/* BARRA CENTER */

.bar-c .fa-solid {
  margin-right: 15px;
}

.bar-c {
    text-align: center;
    width: 50%;
}

.bar-c .line {
  border-bottom: 3px solid gray;
  width: 100%;
  
}

.margin div {
    margin: 10px;
}


/* BARRA DX */

.bar-dx {
  justify-content: end;
  display: flex;
  align-items: center;
  width: 25%;
}

.bar-dx .fa-solid {
  margin-left: 20px;
}

.bar-dx .line {
    border-bottom: 3px solid gray;
    width: 90px;
    margin-right: 10px;
    margin-left: 20px;
}


/* 
MEDIA QUERY */



@media screen and (max-width: 976px) {
  #main-dx .col {
    width: calc(100% / 4);
  }

  .bar-dx .fa-solid {
    margin-left: 5px;
  }
  
  .bar-dx .line {
    margin-left: 5px;
    min-width: 25px;
  }

}



@media screen and (max-width: 778px) {
  #main-dx .col {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 576px) {
  .bar-dx, .bar-sx {
    display: none;
  }

  .bar-c {
    margin: 0 auto;
  }


  #main-sx {
    width: 100px;
  }

  #main-dx {
    width: calc(100% - 100px);
}

.display-none {
  display: none;
}

.nav-small {
  display: block;
}
}