:root {
  --sidebar-width: 300px;
  --sidebar-widht-footer: 100px;
  /* per usare: var(--nome-custom-prop)*/
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

img {
  width: 100%;
}

main {
  height: calc(100vh - 100px);
}

.container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding: -1rem;
}

.col {
  padding: 1rem;
}

/* UTILITIES */

.flex {
  display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

/* MAIN-SX*/


/* SECTION-1 */

#main-sx {
  width: var(--sidebar-width);

  background-color: #000000;
  color: gray;
}

.small {
    width: 80%;
}


.nav-search {
    margin: 15px 0;
}

#main-sx .fa-solid, .fa-regular {
    margin-right: 10px;
}



/* SECTION-2 */

#main-dx {
  width: calc(100% - var(--sidebar-width));
  padding-top: 100px;

  background-color: #141922;
  color: white;

  overflow-y: auto;
}

/* MAIN-DX */

/* HEADER */

#main-dx .button-header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

#main-dx button {
  height: 40px;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

#main-dx button:hover {
    transform: scale(1.1);
}

header {
  height: 80px;
  background-color: #080b12;
  position: fixed;
  left: var(--sidebar-width);
  top: 0;
  right: 0;
  opacity: 0.8;
}

/* MAIN CONTENT */

.main-header {
    display: flex;
    justify-content: center;
}

.main-header p {
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}

.main-header p:hover {
    color: white;
}

/* MAIN SECTION-1 */

#main-dx h1 {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#main-dx h4 {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: gray;
}

#main-dx .row {
    display: flex;
}

#main-dx .col {
    width: calc(100% / 6);
    text-align: center;
}

.col img {
    cursor: pointer;
}

#main-sx p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

/* MAIN SECTION-3 */

.circle {
    border-radius: 50%;
}

.max-height {
    max-height: 250px;
    overflow-y: auto;
}






/* FOOTER */

#block {
  width: 100%;
  height: var(--sidebar-widht-footer);
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BARRA SX */

.bar-sx {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 25px;

}

.bar-sx img {
  height: 50px;
}

.bar-sx p {
  margin-left: 8px;
}

#block .icon {
  margin-left: 25px;
}

#block .fa-regular {
  margin-left: 10px;
}

/* BARRA CENTER */

.bar-c .fa-solid {
  margin-right: 15px;
}

.bar-c {
    text-align: center;
}

.bar-c .line {
  border-bottom: 3px solid gray;
  width: 500px;
}

.margin div {
    margin: 10px;
}


/* BARRA DX */


.bar-dx .fa-solid {
  margin-left: 20px;
}

.bar-dx .line {
    border-bottom: 3px solid gray;
    width: 90px;
    margin-right: 10px;
    margin-left: 20px;
}

